doctype html
html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body.container
        h1='Kuvat tietokannassa:'
        ul
            each file in files 
                li
                    h4=file.filename +' / '+ file.uploadDate
                    span='Tiedostotyyppi' + file.contentType
                    br
                    a(href='/stream/'+file.filename) N채yt채 kuva selaimessa
                    br
                    a(href='/remove/'+file._id) Poista kuva
                    br
a(href='/addImg') Lis채채 uusi kuva
br